<!DOCTYPE html>
<html>
<head>
  <title>FORM</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="lib/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="styles/form.css">
  <script type="text/javascript" src="lib/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="container">
  <div class="frame">
    <div class="nav">
      <ul class="links">
        <li class="signin-active"><a class="btn">Sign in</a></li>
        <li class="signup-inactive"><a class="btn">Sign up </a></li>
      </ul>
    </div>
    <div ng-app ng-init="checked = false">
        <form class="form-signin" action="/user/signin" method="post" name="form">
          <label for="username">Username</label>
          <input class="form-styling" type="text" name="username" placeholder=""/>
          <label for="password">Password</label>
          <input class="form-styling" type="password" name="password" placeholder=""/>
          <div class="btn-animate">
            <button class="btn-signin" type="submit" style='background-color: #1059FF'>Sign in</a>
          </div>
        </form>
        
        <form class="form-signup" action="/user/signup" method="post" name="form" >
          <label for="fullname">Full name</label>
          <input class="form-styling" type="text" name="fullname" placeholder=""/>
          <label for="email">Email</label>
          <input class="form-styling" type="text" name="email" placeholder=""/>
          <label for="password">Password</label>
          <input class="form-styling" type="password" name="password" placeholder=""/>
          <button type="submit" class="btn-signup">Sign Up</a>
        </form>
      </div>
  </div>
</div>

<script type="text/javascript" src="JsFiles/form.js"></script>
</body>
</html>



