<!DOCTYPE html>
<html>
<head>
  <title>E-commerce</title>
  <meta http-equiv="Content-Type" content="text/html">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/styles/home.css">
</head>
<body>
  <%include navbar.ejs%>
  <div class="row">
    <% data.forEach(function(data){%>
          <div class="col-xs-12 col-sm-6 col-md-3 image-body">
              <div class="thumbnail">
                  <img src='<%=data["link"]%>' class="image">
                  <div class="caption">
                      <p class="title"><%=data["Name"]%></p>
                  </div>
                  <a href='/kamp/<%=data["itemId"]%>' class="btn btn-primary btn-block">VIEW DETAILS</a>
              </div>
          </div>
    <%})%>
  </div>
</body>
</html>