<!DOCTYPE html>
<html>
<head>
	<title>SHoRT-CART</title>
	<link rel="shortcut icon" href="/img/kisspng-tote-bag-shopping-bag-gift-gift-bag-5aa415fbb24921.1517083015207029717303.png"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/styles/profile.css">
</head>
<body id="body">
	<%include navbar.ejs%>
	<div class="container" style="border:2px solid red">
		<div id="">
			<h3>
				Name: aviral rai
			</h3>
		</div>
		
	</div>

</body>
</html>