<!DOCTYPE html>
<html>
<head>
	<title>SHoRT-CART</title>
	<link rel="shortcut icon" href="/img/kisspng-tote-bag-shopping-bag-gift-gift-bag-5aa415fbb24921.1517083015207029717303.png"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/styles/profile.css">
</head>
<body id="body">
	<%include navbar.ejs%>
	<div class="container">
		<div id="details">
			<h3 style="margin-top: 100px;">
				<%=user.fullname%>
			</h3>
			<button class="btn btn-danger" style="margin-top: 100px"><a href="#popup1">Edit</a></button>
			<h3 style="margin-top: 200px;">Email: <%=user.username%></h3>
			<button class="btn btn-danger" style="margin-top: 200px"><a href="#popup2">Edit</a></button>
			<h3 style="margin-top: 300px;">Address: <%=user.address%></h3>
			<button class="btn btn-danger" style="margin-top: 300px"><a href="#popup3">Edit</a></button>
			<button class="btn btn-danger" style="margin-top: 450px;margin-left: -240px;"><a href="#popup4">CHANGE PASSWORD</a></button>

			<!-- <div style="height: 1200px;"> -->


<!-- <div class="box">
	<a class="button" href="#popup1">Show Overlay</a>
</div> -->

			<div id="popup1" class="overlay">
				<div class="popup">
					<h2>Update Name</h2>
					<a class="close" href="#">×</a>
					<div class="content">
						<form method="post" action="/profile/update">
							<input type="text" name="fullname" placeholder="          ENTER NEW NAME" class="form-styling">
							<button class="btn btn-danger">SAVE</button>
						</form>
					</div>
				</div>
			</div>
			<div id="popup2" class="overlay">
				<div class="popup">
					<h2>Update Email</h2>
					<a class="close" href="#">×</a>
					<div class="content">
						<form method="post" action="/profile/update">
							<input type="email" name="email" placeholder="       ENTER NEW EMAIL" class="form-styling">
							<button class="btn btn-danger">SAVE</button>
						</form>
					</div>
				</div>
			</div>
			<div id="popup3" class="overlay">
				<div class="popup">
					<h2>Update Address</h2>
					<a class="close" href="#">×</a>
					<div class="content">
						<form method="post" action="/profile/update">
							<input type="text" name="address" placeholder="     ENTER NEW ADDRESS" class="form-styling">
							<button class="btn btn-danger">SAVE</button>
						</form>
					</div>
				</div>
			</div>
			<div id="popup4" class="overlay">
				<div class="popup">
					<h2>Update Password</h2>
					<a class="close" href="#">×</a>
					<div class="content">
						<form method="post" action="/profile/update">
							<input type="Password" name="password1" placeholder="    ENTER OLD PASSWORD" class="form-styling">
							<input type="Password" name="password2" placeholder="    ENTER NEW PASSWORD" class="form-styling" style="top: 50%;">
							<button class="btn btn-danger">SAVE</button>
						</form>
					</div>
				</div>
			</div>
<!-- 
</div> -->
		</div>
		
	</div>

</body>
</html>