.image{
    width: 100%;
    height: 270px;
    margin-top: 20px;
    margin-right: auto;
    overflow: hidden;

}

.image-body{
    height: 400px;
    margin-left: 10px;
}
.image:hover{
    transform: scale(1.05);
}

body{
    margin-top: 40px;
}

.caption{
    text-align: center;
}